p {
    margin-top: 16px;
}

button {
    width: 250px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color:#d0cac6 ;
}

button:hover {
    cursor:cell;
    background-color: #dbb0a0;
}

#container {
    display: flex;
    flex-direction: row;
}

.section {
    flex: 1;
}


  
