<div>

    <p>Wybierz termin intencji:</p>
    
    <mat-form-field appearance="outline">

        <input [ngModel]="date" matInput formControlName="releasedAt" 
               [matDatepicker]="releasedAtPicker" (click)="releasedAtPicker.open()">
      
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
      
        </mat-datepicker-toggle>
      
        <mat-datepicker #releasedAtPicker>
      
        </mat-datepicker>
      
    </mat-form-field>

    <button (click)="sendDataToPreview()">OK</button>
  
    

</div>
