<div class="config-step-container">
    <p>Wybierz termin intencji: </p>
    
    <div id="container">
        <div class="section">
            <p>Wybierz z kalendarza wolnych intencji:</p>
            <button mat-icon-button>
                <mat-icon>calendar_today</mat-icon>
            </button>
        </div>

        <div class="vertical-crest"></div>
    
        <div class="section">
            <p>Najbliższe wolne intencje:</p>
            <mat-form-field>
                <mat-label>Wybierz termin</mat-label>
                <mat-select (selectionChange)="onSelectionEventChange()" [(value)]="selectedEvent">
                  <mat-option *ngFor="let event of events" [value]="event">{{ event.getDate() }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    
    </div>
</div>
