<h2 mat-dialog-title>DODAJ MSZĘ ŚWIĘTĄ</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

    <mat-form-field>
      <mat-label>Wybierz element</mat-label>
      <mat-select>
        <mat-option value="option1">Opcja 1</mat-option>
        <mat-option value="option2">Opcja 2</mat-option>
        <mat-option value="option3">Opcja 3</mat-option>
      </mat-select>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancel()">Anuluj</button>
  <button mat-raised-button mat-primary (click)="submit()">Dodaj</button>
</mat-dialog-actions>

