div {
    overflow: hidden;
    background-color: #57394a;
}

div a {
    float: left;
    display: block;
    color: #dbb0a0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div a:hover {
    background-color: #dbb0a0;
    color: #57394a;
}