<header class="brand-name">
      <img class="brand-logo" src="/assets/document-config-svgrepo-com.svg" alt="logo" aria-hidden="true">
      <h1>Konfigurator Intencji</h1>
</header>
<div id="main">
        <div id="configurator">
            <div id="stepper">
                <nav>
                    <button [ngStyle]="{'background-color': configState.current === state.PLACE ? '#ada860' : '#e0c2c0'}" (click)="setState(state.PLACE)">1</button>
                    <button [ngStyle]="{'background-color': configState.current === state.TYPE ? '#ada860' : '#e0c2c0'}" (click)="setState(state.TYPE)" routerLink="/type-2">2</button>
                    <button [ngStyle]="{'background-color': configState.current === state.DATE ? '#ada860' : '#e0c2c0'}" (click)="setState(state.DATE)" routerLink="/date-3">3</button>
                    <button [ngStyle]="{'background-color': configState.current === state.CONTENT ? '#ada860' : '#e0c2c0'}" (click)="setState(state.CONTENT)" routerLink="/content-4">4</button>
                    <button [ngStyle]="{'background-color': configState.current === state.SUMMARY ? '#ada860' : '#e0c2c0'}" (click)="setState(state.SUMMARY)" routerLink="/general-5">5</button>
                    <button [ngStyle]="{'background-color': configState.current === state.PAY ? '#ada860' : '#e0c2c0'}" (click)="setState(state.PAY)" routerLink="/pay-6">6</button>
                </nav>
        </div>

        <div id="content">
            <router-outlet></router-outlet>
        </div>
            
        <div id="navigation">
            <button class="navigation_button" (click)="back()">WRÓĆ</button>
            <button class="navigation_button" (click)="next()">DALEJ</button>
        </div>
    </div>

    <hr/>

    <div id="preview">
        <h2>Podgląd Intencji</h2>
        <div class="intent-preview">
            <p [ngStyle]="{'color': configState.current === state.PLACE ? 'blue' : 'black'}">Intencja {{ intention.place }}</p>
            <p [ngStyle]="{'color': configState.current === state.TYPE ? 'blue' : 'black'}">{{ intention.type }}</p>
            <p [ngStyle]="{'color': configState.current === state.DATE ? 'blue' : 'black'}">{{ intention.date }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">{{ header.content }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">dla {{ intention.for }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">od {{ intention.from }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">(z okazji / w 10 rocznicę)</p>
        </div>
        <button class="leave" (click)="escConfig()">Anuluj</button>
    </div>

</div>