header {
  display: flex;
  background-color: #57394a;
  height: 80px;
}

h1 {
  padding: 16px;
  color: whitesmoke;
}


.brand-logo {
  margin: 16px;
}

nav button {
    width: 50px;
    height: 50px;
    padding: 1rem;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #ada860;
    color: white;
    border-radius: 50%;
    border: none;
    justify-items: center;
  }
  nav button:hover {
    color: white;
    background-color: #d8d3ae;
  }

  #main {
    display: flex;
  }

  #configurator {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

 nav {
    display: flex;
    justify-content: space-between;
  }


  #navigation {
    display: flex;
    justify-content: space-between;
  }

  #preview {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #preview > h2 {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }

.intent-preview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
  padding: 8px;
  border: 2px solid #3D452E;
  border-radius: 4px;
}

