<header class="brand-name">
      <img class="brand-logo" src="/assets/document-config-svgrepo-com.svg" alt="logo" aria-hidden="true">
      <h1>Konfigurator Intencji</h1>
</header>
<div id="main">
    <div id="configurator">
        <div id="stepper">
            <nav>
                <button (click)="setState(state.PLACE)">1</button>
                <button (click)="setState(state.TYPE)" routerLink="/type-2">2</button>
                <button (click)="setState(state.DATE)" routerLink="/date-3">3</button>
                <button (click)="setState(state.CONTENT)" routerLink="/content-4">4</button>
                <button (click)="setState(state.PLACE)" routerLink="/general-5">5</button>
                <button (click)="setState(state.PLACE)" routerLink="/pay-6">6</button>
            </nav>
        </div>

        <div id="content">
            <router-outlet></router-outlet>
        </div>
            
        <div id="navigation">
            <button class="navigation_button" (click)="back()">BACK</button>
            <button class="navigation_button" (click)="next()">NEXT</button>
        </div>
    </div>

    <hr/>

    <div id="preview">
        <h2>Podgląd Intencji</h2>
        <div class="intent-preview">
            <p [ngStyle]="{'color': configState.current === state.PLACE ? 'blue' : 'black'}">Intencja {{ placeData }}</p>
            <p [ngStyle]="{'color': configState.current === state.TYPE ? 'blue' : 'black'}">{{ type }}</p>
            <p [ngStyle]="{'color': configState.current === state.DATE ? 'blue' : 'black'}">{{ data }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">{{ header.content }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">dla {{ for }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">od {{ from }}</p>
            <p [ngStyle]="{'color': configState.current === state.CONTENT ? 'blue' : 'black'}">(z okazji / w 10 rocznicę)</p>
        </div>
    </div>

</div>