<!-- login.component.html -->
<div class="contener">
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="code">Code:</label>
            <input type="text" id="code" name="code" [(ngModel)]="code">
        </div>
        <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username">
        </div>
        <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit">Login</button>
        <button type="button" (click)="createNewAccount()">Nowe konto</button> <!-- Dodaj przycisk "Nowe konto" -->
    </form>
</div>
