p {
    margin-top: 16px;
}

.pay {
    width: 250px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color:#d0cac6 ;
}

.pay:hover {
    cursor:cell;
    background-color: #dbb0a0;
}

