div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid #e0c2c0;
    border-radius: 4px;
    margin: 4px;
    padding: 16px;
}

p {
    margin-top: 16px;
}

button {
    width: 250px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color:#d0cac6 ;
}

button:hover {
    cursor:cell;
    background-color: #dbb0a0;
}