<div class="config-step-container">
    <p>Wybierz podczas jakiego wydarzenia chcesz zamówić intencję:</p>
    <button 
            type="button" 
            (click)="setIntentionPlace(intentionPlace.MASS)">Msza Święta
            <span class="tooltiptext">Twoja intencja zostanie odprawiona podczas jednej z mszy świętych odbywających się w parafii.</span></button>
    <button 
            type="button" 
            (click)="setIntentionPlace(intentionPlace.SERVICE)">Nabożeństwo
            <span class="tooltiptext">Możesz dołączyć swoją intencję do zbiorowej intencji nabożeństwa odbywającego się w danym okresie liturgicznym.</span></button>
    <button 
            type="button" 
            (click)="setIntentionPlace(intentionPlace.MEMORIAL)">Wypominki
            <span class="tooltiptext">Imię i nazwisko osoby zmarłej zostanie dodane do czytanych co tygodniowo wypominków.</span></button>
</div>
