.parish-editor {
    display: flex;
}
  
#menu {
    flex: 1;
    display: inline-block;
    margin-left: 12px;
}
  
#elements {
    flex: 4;
}
  
#details {
    flex: 4;
}

button {
    display: block;
    width: 250px; 
    height: 80px;
    margin-bottom: 12px;
    padding: 10px;
    background-color: #e0c2c0;; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #57394a; /* Kolor tła po najechaniu myszką */
}